@section Scripts{
<script>
    $(document).ready(function(){
        $("#btnSubmit").click(register);
    });
    function register(){
        ;
        $.ajax({
                method: "POST",
                url: "/Member/Register",
                data: { Name:$("#name").val(), Email: $("#email").val(),Age:$("#age").val() },
                success:function(result){
                    alert(result);
                }
            });
    }
</script>
}
<div class="row">
    <div class="col-6">
        <form>
            <div class="form-group">
                <label for="name">UserName</label>
                <input type="text" class="form-control" id="name">
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email">
            </div>
            <div class="form-group">
                <label for="age">Age</label>
                <input type="number" class="form-control" id="age">
            </div>
            <button id="btnSubmit" type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
